<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :business_name, class:"form-control", placeholder:"Business Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :social_media, class:"form-control", placeholder:"Social Media: example IG @Bk2Mi" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :website, class:"form-control", placeholder:"Website" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :business_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
